{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'account/css/password_change.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header__item">
        <a href="{% url 'main:account' %}" class="header__link">
            <i class="fas fa-arrow-left fa-2x"></i>
        </a>
        <div class="header__title">
            {% block header_title %}パスワードの変更{% endblock %}
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="password-change-container">
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <ul class="form-field__errors">
            {% for error in form.oldpassword.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.password1.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.password2.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="password-change-form">
            {{form.oldpassword}}
        </div>
        <div class="password-change-form">
            {{form.password1}}
        </div>
        <div class="password-change-form">
            {{form.password2}}
        </div>
        <button class="password-change-btn" type="submit">新しいパスワードを登録</button>
    </form>
    <p class="cancel-link">
        <a href="javascript:window.history.back()">
            <span>キャンセル</span>
        </a>
    </p>
</div>
{% endblock %}