{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/final_confirmation.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header__item">
        <a href="javascript:window.history.back()" class="header__link">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <div class="header__title">
            {% block header_title %}注文の確認{% endblock %}
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="product-detail-container">
    <p class="section-title">購入する商品</p>
    <div>
        <div class="product-image-wrapper">
            <img src="{{ item.producthttps://waotext.s3.ap-northeast-1.amazonaws.com/_images.all.0.image.url }}">
        </div>
        <div class="product-detail-wrapper">
            <p class="product-name">{{ item.name }}</p>
            <p class="product-price">{{ item.value }}円</p>
        </div>
    </div>
</div>
<hr>
<div class="price-confirmation-container">
    <p class="section-title">請求内容</p>
    <div class="price-wrapper">
        <p class="price-wrapper-title">商品の値段（送料込）</p>
        <p>{{ item.value }}円</p>
    </div>
    {% if purchase.point > 0 %}
    <div class="point-wrapper">
        <p class="point-section-title">利用ポイントによる割引</p>
        <p>{{ purchase.point }}</p>
    </div>
    {% endif %}
    <div class="billing-amount-wrapper">
        <p class="billing-section-title">ご請求金額</p>
        <p class="billing-amount">{{ purchase.total_amount }}円</p>
    </div>
</div>
<hr>
<div class="address-confirmation-wrapper">
    <p class="section-title">お届け住所</p>
    <p>{{ address.last_name }}{{ address.first_name }}</p>
    <p>{{ address.postal_code }},{{ address.prefecture }}{{ address.address }}</p>
    <p>電話番号：{{ address.tel }}</p>
</div>
<hr>
<div class="payment-confirmation-wrapper">
    <p class="section-title">お支払い方法</p>
    <p>クレジットカード</p>
</div>
<form method="POST">
    {% csrf_token %}
    <button class="checkout-btn">注文を確定する</button>
</form>
{% endblock %}

{% block footer %}{% endblock %}