{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/product_liked_list.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header__item">
        <a href="javascript:window.history.back()" class="header_link">
            <!-- 戻る用アイコン -->
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <div class="header_title">
            {%block header_title%}いいねした商品{% endblock %}
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="product-list-container">
   <ul class="product-list">
    {% for product in liked_products %}
        <li class="product-item">
            <a href="{% url 'main:product_detail/product.pk %}">
                <img src="{{ product.producthttps://waotext.s3.ap-northeast-1.amazonaws.com/_images.all.0.image.url }}" alt="" class="product-img">
                <p class="product-price">{{ product.value }}円</p>
                {% if product.sales_status != "on_display" %}
                <div class="bg-green">
                    <p class="product-status">SOLD</p>
                </div>
                {% endif %}
            </a>
        </li>
        {% empty %}
        <p>いいねした商品はありません。</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
